<!DOCTYPE html>
<html>
 <head>
    <%- include('templates/header')%>
    <title>Should I Go There? Login</title>
    
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 </head>
    <body>
        <!--navigation bar-->
        <nav class="navbar navbar-expand-md" style="background-color: #52C1D5">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <!--in case i decide to add logo-->
                    <!--<img src="https://mdbootstrap.com/img/logo/mdb-transparent.png" height="30" alt="mdb logo">-->
                    <!--left side-->
                    <a class="nav-item nav-link" style="color:#000080" href="#">Should I Go There?</a>
                    <!--search bar-->
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-1" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
                    </form>
                    <!--right side-->
                    <a class="nav-item nav-link" style="color:#000080" href="/login">Log In</a>
                </div>
            </div>
        </nav>
        
        <div>
            <h1>City Search Info</h1>
        </div>
        
        <div>
            <h1>Default Pins </h1>
        </div>
	</body>
</html>